/*
.App {
  text-align: center;
  background-color: #f5f5f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/* Import Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  caret-color: transparent;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.data {
  position: static;
  margin-top: 5%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  color: #cacaca;
  font-size: x-small;
  padding-bottom: 0;
  width: 100%;
}

footer p {
  padding: 0 15px;
}